{% extends 'base.html' %}

{% block title %}Investor Details - Digihub{% endblock %}

{% block content %}
    <h2>Investor Profile</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.investment_range_min.label }} {{ form.investment_range_min() }}</p>
        <p>{{ form.investment_range_max.label }} {{ form.investment_range_max() }}</p>
        <p>{{ form.industry_focus.label }} {{ form.industry_focus() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
